<!-- *****************************************parts****************************************** -->
<%- include("parts/header") %>
<%- include("parts/navbar") %>

<div class="container">

<!-- *****************************************heading****************************************** -->
    <h3 class="text-center text-capitalize mb-3">login</h3>

<!-- *****************************************signin form****************************************** -->
    <form action="/signin" method="post">
    <input type="email" name="email" class="form-control mb-3" placeholder="E-mail">
    <input type="password" name="password" class="form-control mb-3" placeholder="Password">
    <div class="text-center">
    <input type="submit" class="btn btn-primary" value="Login">
    </div>
    </form>

<!-- *****************************************alert errors****************************************** -->
    <% for(err of error) { %>
        <p class="alert alert-danger mt-3 text-center"><%= err %></p>
        <% } %>

<!-- *****************************************don't have acc**************************************** -->
    <div class="text-center mt-5">
        Don't have account ? 
        <a href="/signup">Creata Account</a>
    </div>
</div>

<%- include("parts/footer") %>